alembic==0.9.9
appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
decorator==4.3.0
enum34==1.1.6
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
google-api-python-client==1.6.7
httplib2==0.19.0
idna==2.6
ipython==5.7.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
oauth2client==4.1.2
pathlib2==2.3.2
pexpect==4.5.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.4
ptyprocess==0.5.2
pyasn1==0.4.3
pyasn1-modules==0.2.1
pyOpenSSL==17.2.0
Pygments==2.2.0
python-dateutil==2.7.3
python-editor==1.0.3
requests==2.18.4
rsa==3.4.2
scandir==1.7
simplegeneric==0.8.1
six==1.11.0
spotipy==2.4.4
SQLAlchemy==1.2.7
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
WTForms==2.1
