<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>songseal</h1>
                    <h3>Have Dewy the Seal find your Spotify songs as Youtube covers!</h3>
                    <hr class="intro-divider">
                    </ul>
                    <h3>Spotify Username</h3>
                    <form action="/recommendations" method="post">
                        <p>
                            {{ form.username(size=32) }}
                        </p>
                        <input class="btn btn-dark" type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}