<!-- app/templates/recommendations/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<body>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">{{ username }}</h1>
          <p class="lead text-muted">YouTube cover videos for songs found in your Spotify playlists.</p>
          <p>
            <a href="#" class="btn btn-danger">See on YouTube</a>
            <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for video in videos %}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="{{ video[2] }}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">
                      {{ video[0] }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="{{ 'https://www.youtube.com/watch?v={video_id}'.format(video_id=video[1]) }}" role="button">View</a>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write("{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"><\/script>')</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/holder.min.js') }}"></script>
{% endblock %}