<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<header>
  <title>{{ title }} | songseal</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <div class="navbar navbar-light bg-light box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="{{ url_for('home.home') }}" class="navbar-brand d-flex align-items-center">
        <strong>songseal</strong>
      </a>
    </div>
  </div>
</header>
<body>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p><a href="github.com/dalisaydavid/songseal">Github</a></p>
      </div>
    </footer>
</body>
</html>